@import "tailwindcss";
@layer base {

  :root {
    --font-serif: var(--font-playfair);
    --font-sans: var(--font-inter);
    --font-jp: var(--font-noto-jp);
  } 

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-red-pri {
    color: #A30000;
  }

  .text-gradient-red {
    background: linear-gradient(360deg,rgba(0, 0, 0, 1) 0%, rgba(170, 0, 0, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-red-pri {
    background-color: #A30000;
  }

}